In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv('../data/processed/data.csv')
df.head()

,unit,time,settings1,settings2,settings3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21,RUL,FLAG
0,1,1,10.0047,0.2501,20.0,489.05,604.13,1499.45,1309.95,10.52,...,8120.83,8.6216,0.03,368,2319,100.0,28.58,17.1735,222.0,0
1,1,2,0.0015,0.0003,100.0,518.67,642.13,1584.55,1403.96,14.62,...,8132.87,8.3907,0.03,391,2388,100.0,38.99,23.3619,221.0,0
2,1,3,34.9986,0.8401,60.0,449.44,555.42,1368.17,1122.49,5.48,...,8063.84,9.3557,0.02,334,2223,100.0,14.83,8.8555,220.0,0
3,1,4,20.0031,0.7005,0.0,491.19,607.03,1488.44,1249.18,9.35,...,8052.30,9.2231,0.02,364,2324,100.0,24.42,14.7832,219.0,0
4,1,5,42.0041,0.8405,40.0,445.00,549.52,1354.48,1124.32,3.91,...,8083.67,9.2986,0.02,330,2212,100.0,10.99,6.4025,218.0,0

In [3]:
target_feature = 'RUL'
features = [col for col in df.columns if col != target_feature]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target_feature], test_size=0.1,m, random_state=7)

train_data = X_train.copy()
test_data = X_test.copy()

In [5]:
train_data[target_feature] = y_train
test_data[target_feature] = y_test

In [6]:
model = RandomForestRegressor(random_state=0)
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [7]:
from raiwidgets import ResponsibleAIDashboard
from responsibleai import RAIInsights

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [8]:
rai_insights = RAIInsights(model, train_data, test_data, target_feature, 'regression')

In [9]:
# Interpretability
rai_insights.explainer.add()
# Error Analysis
rai_insights.error_analysis.add()
# Counterfactuals
rai_insights.counterfactual.add(total_CFs=20, desired_range=[100, 400])

In [ ]:
rai_insights.compute()

 34%|███▍      | 1583/4592 [25:47<50:41,  1.01s/it]

In [ ]:
ResponsibleAIDashboard(rai_insights)